language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
matrix:
    allow_failures:
        - python: "nightly"
install:
  - pip install coverage
script:
  - coverage run --source mediator.py setup.py test -q && coverage report -m
